* {
    box-sizing: border-box;
  }

html {

  scroll-behavior: smooth;
}
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 10px; */
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 1px;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* background-color: #fff; */
    /* margin-top: 400px; */
  }
  
  .row2 {
    padding: 0px 100px;
  }

  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 10px 0px;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    border-radius: 10px;
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .centercolumn {   
    float: left;
    width: 33.33%;
    overflow: auto;
  }

  .center2column {   
    float: left;
    /* margin-left: 20px; */
    width: 50%;
    overflow: auto;
  }
  
  /* left column */
  .leftcolumn {
    float: left;
    width: 33.33%;
    margin-top: 40px;
    /* background-color: #f1f1f1; */
    padding-right: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: right;
    width: 33.33%;
    margin-top: 40px;
    /* background-color: #f1f1f1; */
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .logincard {
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgba(169, 196, 255, 0.85);
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    float: right;
    font-weight: bold;
  }

  .logincard .loginform {
    margin: 10px;
  }
  
  .logincard .loginform input[type=submit] {
    padding: 10px 20px;
    background-color: white;
    border: none;
    font-weight: bold;
  }

  .logincard .loginform input[type=text],
  .logincard .loginform input[type=password] {
    border: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 50px;
    padding: 5px 10px;
  }
  

  @media screen and (max-width: 1000px){
    .logincard {
      width: 50%;
    }
    .center2column {
      width: 100%;
    }
  }


  .card2 {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 25%;
  }

  .card3 {
    text-align: center;
    border-radius: 15px;
    color:white;
    position: sticky;
    top: 67px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px 10px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .centercolumn, .rightcolumn, .leftcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  .submenu a{
    background-color: #dddddd;
    color: #000000;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin-bottom: 10px;
  }
  
  .submenu a:hover {
    color: white;
    background-color: black;
    
  }
  
  /* Style the topnav links */
  .topnav button {
    float: left;
    /* display: block; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin: 10px 0px;
  }
  
  /* Change color on hover */
  .topnav button:hover {
    border-radius: 10px;
    background-color: #ddd;
    color: black;
  }
  
  .topnav button {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav .search {
    float: right;
    width: 40%;
    margin: 10px 0px;
  }
  
  .topnav .search input[type=text] {
    border: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 50px;
    padding: 5px 10px;
  }
  
  #header {
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
  }
  
  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  #notif {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation: fadeout 4s;
    animation: fadeout 4s;
  }
  
  @keyframes fadeout {
    from {background-color: rgb(255, 255, 110);}
    to {background-color: #fff;}
  }
  
  @-webkit-keyframes fadeout {
    from {background-color: rgb(255, 255, 110);}
    to {background-color: #fff;}
  }
  
  /* =====================image modal==================== */
  
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
  /* parallax/////////////////////////////// */
  
  .parallax {
    /* The image used */
    /* background-image: url("../image/carousel-3.jpg"); */
    /* background-color: red; */
  
  
    /* Full height */
    min-height: 550px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .joinus a {
    background-color: rgb(155, 170, 236);
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
  
  .joinus a:hover {
    background-color: rgb(124, 138, 202);
    border-radius: 1px;
  }

  .btnmenu {
    display:none;
  }

  .nav {
    display: block;
  }

  @media (max-width:768px) {
    
    .row2 {
      padding: 0px 100px;
    }

    .btnmenu {
      display: block;
    }

    .nav {
      display: none;
    }

    .nav a {
      width:100%;
    }

    .nav .search {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px){
    .logincard {
      width: 100%;
      margin-right: 0px;
    }

    .row2 {
      padding: 0px 10px;
    }
    
  }

